<a href="https://colab.research.google.com/github/akashkumar181/Panda/blob/main/PandaSeries6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

1.Series=1d labeled arrays pd.series
2.Dataframe=two dimensional data structure with column like table
3.panel=3d container of data

>

#series

In [8]:
x=[2,3,4,5,6]
var=pd.Series(x,index=['a','b','c','d','e'])#we change index no 1 2 3 to a b c
print(var)
print(type(var))

a    2
b    3
c    4
d    5
e    6
dtype: int64
<class 'pandas.core.series.Series'>

In [11]:
dic={
    "Name":['pandas','c','c++','java'],
    "pop":[10,20,30,40]

}
var=pd.Series(dic)
print(var)

a    NaN
b    NaN
c    NaN
d    NaN
dtype: object

In [12]:
s=pd.Series(12,index=[1,2,3,4,5,6,7,8,9,10])
print(s)

1     12
2     12
3     12
4     12
5     12
6     12
7     12
8     12
9     12
10    12
dtype: int64

In [13]:
s1=pd.Series(12,index=[1,2,3,4,5,6,7,8,9,10])
s2=pd.Series(12,index=[1,2,3,4,5,6,7])
print(s1+s2)

1     24.0
2     24.0
3     24.0
4     24.0
5     24.0
6     24.0
7     24.0
8      NaN
9      NaN
10     NaN
dtype: float64

#Data Frame